.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: gray;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
